.logo {

}

.page_body_container {
	
}

.alert_text {
	color:red;
}

.background_clouds {
	background-image: url("images/background_clouds.png");
	width: 100%;
	background-repeat: repeat-x;
	position: absolute;
	height: 230px;
	top:0;
	left:0;
	z-index: -101; 
}

.pre_footer {
	position:relative;
	left:0;
	bottom:0;
}

.background_image {
	background-image: url("images/background.png");
	width: 100%;
	background-repeat: repeat-x;
	position: absolute;
	height: 480px;
	bottom: 0px;
	z-index: -100;

}

.ui-page {
	background: transparent;
}

.ui-content {
	background: transparent;
}

/* -------------------- Home Page ------------------- */

#money_hub  {
	text-align:center;
}

#money_hub_button {
	width:100%;
	height:195px;
	margin-bottom:15px;
	text-align:center;
}

#tree_image1 
{
	float:left;
	background-color:pink;
	height:82px;
	margin-left:5%;
	margin-top:10px;
}

#tree_image2
{
	float:left;
	background-color:pink;
	height:82px;
	margin-left:5%;
	margin-top:10px;
}

#tree_image3 
{
	float:left;
	background-color:pink;
	height:82px;
	margin-left:5%;
	margin-top:10px;
}

#goals_button {
	width:100%;
	margin-bottom:15px;
}

#history_button {
	width:100%;
	margin-bottom:15px;
}

#myForest_button {
	width:100%;
}

#logo_image {
	width:90%;
	height:auto;
	max-width:600px;
	margin-bottom:0px;
}

#tagline {
	color:green;
	font-size:1.2em;
}

/* ---------------------- Money Hub -------------------- */

#money_hub_top {
	height:195px;
}

#income_expenses_button {
	height:55px;
}

#back_button {

}

/* ----------------------- Money Tree -------------------- */

#tree_image {
	height:150px;
	background-color:green;
}

#bottom_area {
	margin-top:20px;
}

#roots_image {
	height:150px;
	width:25%;
	background-color:green;
	float:left;
}

#growth_information {
	height:150px;
	width:70%;
	background-color:green;
	float:right;
}

#goal_description {
	height:100px;
	resize:none;
}

.goal_month {
	width:38%;
	margin-right:3%;
	float:left;
}

.goal_day {
	float:left;
	width:26%;
	margin-right:3%;
}

.goal_year {
	float:left;
	width:30%;
}

.date_select_area {
	margin-bottom:35px;
}

#submit_goal {
	background-repeat:no-repeat;
}

#history_area {
	height:300px;
	margin-top:25px;
	background-color:white;
	border:2px solid black;
	border-radius: 15px;
}